h1{
    text-align: right;
    color: aqua;
}

  .Home {
    display: block;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 5rem;
    background-color: aliceblue;
}
.Home .Header{
    display: block;
    background-color: aqua;
}